<mat-toolbar color="info">
  <mat-toolbar-row>
    <mat-icon class="menu-icone">face</mat-icon>
    <span class="titulo">Usuários</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-card mat-elevation-z2" (window:resize)="onResize($event)">
  <mat-tab-group [selectedIndex]="indiceAbas" (selectedTabChange)="alterarAba($event)">
    <mat-tab label="Listagem">
      <div class="header-filtro">
        <mat-form-field>
          <input matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Filtro">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="entidades" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nome">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="login" class="desktop">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Login </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let linha; columns: colunas;" class="linha-table"
          (click)="selecionarLinha(linha)"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Formulário">
      <mat-card-content>
        <form>
          <div class="row">
            <mat-form-field class="col-md-2">
              <input matInput placeholder="Código" name="id"
              [(ngModel)]="entidade.id" disabled>
            </mat-form-field>
            <mat-form-field class="col-md-3" floatPlaceholder="auto">
              <input autofocus matInput
                placeholder="Nome" name="nome"
                [(ngModel)]="entidade.nome">
            </mat-form-field>
            <mat-form-field class="col-md-3" floatPlaceholder="auto">
              <input autofocus matInput
                placeholder="Login" name="login"
                [(ngModel)]="entidade.login">
            </mat-form-field>
            <mat-form-field class="col-md-2" floatPlaceholder="auto">
              <input type="password" matInput placeholder="Senha" [(ngModel)]="entidade.senha" name="senha">
            </mat-form-field>
            <mat-form-field class="col-md-2" floatPlaceholder="auto">
              <input matInput [matDatepicker]="dataCadastroPicker"
                placeholder="Data de Cadastro"
                name="dataCadastro"
                [(ngModel)]="entidade.dataCadastro">
              <mat-datepicker-toggle matSuffix [for]="dataCadastroPicker"></mat-datepicker-toggle>
              <mat-datepicker #dataCadastroPicker></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="desktop">
        <button mat-raised-button (click)="salvar()" *ngIf="!entidade.id" color="primary">Salvar</button>
        <button mat-raised-button (click)="atualizar()" *ngIf="entidade.id" color="primary">Atualizar</button>
        <button mat-raised-button (click)="remover()" *ngIf="entidade.id">Remover</button>
        <button mat-raised-button (click)="cancelar()">Cancelar</button>
      </mat-card-actions>
      <mat-card-actions class="mobile">
        <button mat-raised-button (click)="salvar()" *ngIf="!entidade.id" color="primary"><mat-icon>add_to_queue</mat-icon></button>
        <button mat-raised-button (click)="atualizar()" *ngIf="entidade.id" color="primary"><mat-icon>save</mat-icon></button>
        <button mat-raised-button (click)="remover()" *ngIf="entidade.id" color="primary"><mat-icon>delete_forever</mat-icon></button>
        <button mat-raised-button (click)="cancelar()" color="primary"><mat-icon>trending_flat</mat-icon></button>
      </mat-card-actions>
    </mat-tab>
  </mat-tab-group>
</div>
